@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(to right, #0066ff, #0058f2, #004be5, #003dd7, #012eca);
}

header {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}